name: Release

on:
  pull_request:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: chore/githubActionsTest

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: npm run prepack

      - name: Set .npmrc
        run: echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc

      - name: Set up Git user
        run: |
          git config user.name "islandryu"
          git config user.email "shimaryuhei@gmail.com"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run release
